.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-table{
    /* display: flex; */
    /* flex-direction: row; */
    width: 50%;
}
.admin-subtitle{
     display: flex; 

     flex-direction: row; 
     justify-content: space-between;
}